* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  margin-top: 3rem;
}
.main .alert-landing {
  background-color: rgb(126, 217, 87);
  height: 3.5rem;
  width: 40rem;
  border-radius: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
.main .alert-landing h4 {
  text-align: center;
  padding-top: 0.8rem;
  color: #fff;
}
.main .card {
  height: 35vh;
  width: 50vw;
  margin: auto;
}
.main .card .card-body form {
  margin-top: 1.5rem;
}
.main .card .card-body form a {
  margin-top: 1rem;
  width: 47vw;
  height: 5vh;
}

body {
  background-color: linen;
}

/*_________________styel a progress bar______________*/
.progress {
  position: relative;
  margin: auto;
  width: 50%;
  border-radius: 13px;
}
.progress .progress-bar {
  position: absolute;
  background-color: rgb(126, 217, 87);
  -webkit-box-shadow: 1px 1px 11px 1px rgb(126, 217, 87);
          box-shadow: 1px 1px 11px 1px rgb(126, 217, 87);
  height: 100%;
  width: 0;
  border-radius: 13px;
  -webkit-transition: 1s;
  transition: 1s;
}

/* __________Style the stepper ______________*/
.stepper {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Style the steps */
.stepper li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  position: relative;
}
.stepper li button {
  padding: 10px;
  background: linen;
  border: none;
  color: #666;
}
.stepper li #info-crl {
  border: #666 solid 1.5px;
  border-radius: 50%;
  padding: 6px 12px 6px 12px;
}
.stepper li #ques-crl {
  border: #666 solid 1.5px;
  border-radius: 50%;
  padding: 6px 12px 6px 12px;
}
.stepper li #res-crl {
  border: #666 solid 1.5px;
  border-radius: 50%;
  padding: 6px 12px 6px 12px;
}

/* Style the current step */
.stepper li.current button {
  background: #4caf50;
  color: #fff;
}

.alerts-info .alert-info-1 {
  background-color: rgb(126, 217, 87);
  height: 9.5vh;
  width: 40vw;
  border-radius: 0.5rem;
  margin: auto;
  margin-top: 2rem;
}
.alerts-info .alert-info-1 h6 {
  padding: 0.5rem;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding-top: 0.8rem;
  color: #fff;
}
.alerts-info .alert-info-2 {
  background-color: rgb(82, 133, 255);
  height: 9.5vh;
  width: 40vw;
  border-radius: 0.5rem;
  margin: auto;
  margin-top: 2rem;
}
.alerts-info .alert-info-2 h6 {
  padding: 0.5rem;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding-top: 0.8rem;
  color: #fff;
}
.alerts-info .alert-info-3 {
  background-color: rgb(255, 87, 87);
  height: 9.5vh;
  width: 40vw;
  border-radius: 0.5rem;
  margin: auto;
  margin-top: 2rem;
}
.alerts-info .alert-info-3 h6 {
  padding: 0.5rem;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding-top: 0.8rem;
  color: #fff;
}
.alerts-info .alert-info-4 {
  background-color: rgb(126, 217, 87);
  height: 9.5vh;
  width: 40vw;
  border-radius: 0.5rem;
  margin: auto;
  margin-top: 2rem;
}
.alerts-info .alert-info-4 h6 {
  padding: 0.5rem;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding-top: 0.8rem;
  color: #fff;
}

.border-question {
  border: 0.2rem solid #007bff;
  border-radius: 0.5rem;
  height: 100%;
  width: 50%;
  margin: auto;
}
.border-question .question {
  text-align: center;
}
.border-question .question .row {
  margin-top: 1rem;
}
.border-question .question .row label {
  text-align: start;
  float: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.border-question .question .row input[type=radio] {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.border-question .question h5 {
  margin-top: 1rem;
}
.border-question .question #choice {
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.border-question #navigation {
  margin-left: 3rem;
  margin-bottom: 1rem;
}

#msgRecheck h6 {
  color: red;
}

.result-div .border-question {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

nav {
  background-color: rgb(243, 243, 243);
}
nav .navlogo img {
  height: 5rem;
  width: 10rem;
  margin-left: 2rem;
}
nav .navbar-collapse {
  margin-left: 15rem;
}
nav .navbar-collapse ul li {
  margin-right: 3rem;
}
nav .navbar-collapse ul li a {
  color: black;
}