* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  margin-top: 3rem;
}
.main .alert-landing {
  background-color: rgb(126, 217, 87);
  height: 3.5rem;
  width: 40rem;
  border-radius: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
.main .alert-landing h4 {
  text-align: center;
  padding-top: 0.8rem;
  color: #fff;
}
.main .card {
  height: 40vh;
  width: 50vw;
  margin: auto;
}
.main .card .card-body form {
  margin-top: 1.5rem;
}
.main .card .card-body form a {
  width: 47vw;
  height: 6vh;
}

.bs-stepper .step-trigger {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #6c757d;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  -webkit-transition: background-color 0.15s ease-out, color 0.15s ease-out;
  transition: background-color 0.15s ease-out, color 0.15s ease-out;
}

.bs-stepper .step-trigger:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.bs-stepper .step-trigger:disabled,
.bs-stepper .step-trigger.disabled {
  pointer-events: none;
  opacity: 0.65;
}

.bs-stepper .step-trigger:focus {
  color: #007bff;
  outline: none;
}

.bs-stepper .step-trigger:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.06);
}

@media (max-width: 520px) {
  .bs-stepper .step-trigger {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
}
.bs-stepper-label {
  display: inline-block;
  margin: 0.25rem;
}

.bs-stepper-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 520px) {
  .bs-stepper-header {
    margin: 0 -10px;
    text-align: center;
  }
}
.bs-stepper-line,
.bs-stepper .line {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 32px;
          flex: 1 0 32px;
  min-width: 1px;
  min-height: 1px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.12);
}

@media (max-width: 400px) {
  .bs-stepper-line,
.bs-stepper .line {
    -ms-flex-preferred-size: 20px;
        flex-basis: 20px;
  }
}
.bs-stepper-circle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2em;
  height: 2em;
  padding: 0.5em 0;
  margin: 0.25rem;
  line-height: 1em;
  color: #fff;
  background-color: #6c757d;
  border-radius: 1em;
}

.active .bs-stepper-circle {
  background-color: #007bff;
}

.bs-stepper-content {
  padding: 0 20px 20px;
}

@media (max-width: 520px) {
  .bs-stepper-content {
    padding: 0;
  }
}
.bs-stepper.vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bs-stepper.vertical .bs-stepper-header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0;
}

.bs-stepper.vertical .bs-stepper-pane,
.bs-stepper.vertical .content {
  display: block;
}

.bs-stepper.vertical .bs-stepper-pane:not(.fade),
.bs-stepper.vertical .content:not(.fade) {
  display: block;
  visibility: hidden;
}

.bs-stepper-pane:not(.fade),
.bs-stepper .content:not(.fade) {
  display: none;
}

.bs-stepper .content.fade,
.bs-stepper-pane.fade {
  visibility: hidden;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.bs-stepper-pane.fade.active,
.bs-stepper .content.fade.active {
  visibility: visible;
  opacity: 1;
}

.bs-stepper-pane.active:not(.fade),
.bs-stepper .content.active:not(.fade) {
  display: block;
  visibility: visible;
}

.bs-stepper-pane.dstepper-block,
.bs-stepper .content.dstepper-block {
  display: block;
}

.bs-stepper:not(.vertical) .bs-stepper-pane.dstepper-none,
.bs-stepper:not(.vertical) .content.dstepper-none {
  display: none;
}

.vertical .bs-stepper-pane.fade.dstepper-none,
.vertical .content.fade.dstepper-none {
  visibility: hidden;
}

.alert-info-1 {
  background-color: rgb(126, 217, 87);
  height: 3.5rem;
  width: 40rem;
  border-radius: 0.5rem;
  margin-left: 45%;
}
.alert-info-1 h4 {
  text-align: center;
  padding-top: 0.8rem;
  color: #fff;
}

.alert-info-2 {
  background-color: rgb(82, 133, 255);
  height: 3.5rem;
  width: 40rem;
  border-radius: 0.5rem;
  margin-left: 5%;
}
.alert-info-2 h4 {
  text-align: center;
  padding-top: 0.8rem;
  color: #fff;
}

.alert-info-3 {
  background-color: rgb(255, 87, 87);
  height: 3.5rem;
  width: 40rem;
  border-radius: 0.5rem;
  margin-left: 45%;
}
.alert-info-3 h4 {
  text-align: center;
  padding-top: 0.8rem;
  color: #fff;
}

.alert-info-4 {
  background-color: rgb(82, 133, 255);
  height: 3.5rem;
  width: 40rem;
  border-radius: 0.5rem;
  margin-left: 5%;
}
.alert-info-4 h4 {
  text-align: center;
  padding-top: 0.8rem;
  color: #fff;
}

.navigation button {
  float: right;
}

.border-question {
  border: #007bff;
  border-radius: 1rem;
}
.border-question ul li {
  list-style-type: none;
}

nav .logonav, img {
  height: 5rem;
  width: 10rem;
  margin-left: 2rem;
}

.navbar-collapse {
  margin-left: 15rem;
}
.navbar-collapse ul li {
  margin-right: 3rem;
}
.navbar-collapse ul li a {
  color: black;
}