*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.main
{
  margin-top: 3rem;
  .alert-landing
  {
    background-color: rgb(126, 217, 87);
    height: 3.5rem;
    width: 40rem;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    h4
    {
     text-align: center;
     padding-top: .8rem;
     color: #fff;
    }
  }

  .card   
  {
    height: 35vh;
    width: 50vw; 
    margin: auto;
    .card-body
    {
      form
      {
        margin-top: 1.5rem;
        a
        {
          margin-top: 1rem;
          width: 47vw ;
          height: 5vh ;
        }
      }
    }
  }
}

// @media screen  {
  
// }