body{
  //overflow: hidden; //remove scroll
}

    /* Style the stepper */
    .stepper {
      list-style: none;
      display: flex;
    }
  
    /* Style the steps */
    .stepper li {
      flex: 1;
      text-align: center;
      position: relative;
    }
  
    /* Style the labels */
    .stepper li button {
      display: block;
      padding: 10px;
      background: #eee;
      border-radius: 2px;
      color: #666;
      text-decoration: none;
    }
  
    /* Style the current step */
    .stepper li.current button {
      background: #4caf50;
      color: #fff;
    }
 // ____________stepper styling #end________________

 
// _______________Alert info #START____________________ 
$items: 5;
$i: 1;
$bg-color : rgb(126, 217, 87), rgb(82, 133, 255), rgb(255, 87, 87), rgb(82, 133, 255);
$size-margin : 45%, 5%, 45%, 5%;
@while $i < $items{
 .alert-info-#{$i}
  {
    background-color: nth($bg-color, $i);
    height: 3.5rem;
    width: 40rem;
    border-radius: .5rem;
    margin-left: nth($size-margin, $i);
    h4
    {
     text-align: center;
     padding-top: .8rem;
     color: #fff;
    }
  }
  $i: $i + 1;
}

.navigation{
  button{
    float: right;

  }
}
// _______________Alert info #END__________________________ 


// _______________questios quiz #start______________________

.border-question
{
  border: .2rem solid #007bff;
  border-radius: .5rem;
  height: 100%;
  width: 50%;
  margin: auto;
  .question
  {
    text-align: center;

    .row{
      margin-top: 1rem;
      label{
        text-align: start;
      }

    }

    h5
    {
      margin-top: 1rem;
    }

    #choice{
        display: block;
        justify-content: space-between;
      
    }
    
    // ul
    // {
    //   margin-top: 2.5rem;

    //   li
    //   {
    //     list-style-type: none;
    //     margin-bottom: 1rem;
    //   }
    // }
  }

  #navigation{
    margin-left: 3rem;
  }
}

