// body{
//   overflow: hidden; //remove scroll
// }

/*_________________styel a progress bar______________*/
.prorogres-parent
{
  margin: 2rem;
  margin-left: 12rem;
  .progress
  {
    position: relative;
    width: 80%; 
    .progress-bar
    {
      position: absolute;
      background-color: rgb(126, 217, 87);
      height: 100%;
    }
    #animation{
      animation: progress-animation 2s forwards;
    }
    // for make an animation
    @keyframes progress-animation  
    {
      0% {width: 0%;}
      100% {width: 10%;}
    }
  }
} 

    /* __________Style the stepper ______________*/   
    .stepper {
      list-style: none;
      display: flex;
      margin-top: 4rem;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
  
    /* Style the steps */
    .stepper li {
      flex: 1;
      text-align: center;
      position: relative;
    
      button {
        //display: block;
        padding: 10px;
        background: white;
        border-color: #007bff;
        border-radius: 10%;
        color: #666;
        text-decoration: none;

        &:hover{
          color: #007bff;
        }
      }
    }

  
    /* Style the current step */
    .stepper li.current button {
      background: #4caf50;
      color: #fff;
    }
 // ____________stepper styling #end________________

 
// _______________Alert info #START____________________ 
$items: 5;
$i: 1;
$bg-color : rgb(126, 217, 87), rgb(82, 133, 255), rgb(255, 87, 87), rgb(126, 217, 87);
//$size-margin : 45%, 5%, 45%, 5%;

.alerts-info
{
  @while $i < $items
  {
    .alert-info-#{$i}
    {
      background-color: nth($bg-color, $i);
      height: 3.5rem;
      width: 40rem;
      border-radius: .5rem;
      margin:auto; //nth($size-margin, $i);
      margin-top: 3rem;
      h4
      {
      text-align: center;
      padding-top: .8rem;
      color: #fff;
      }
    }
    $i: $i + 1;
  }
}

// _______________Alert info #END__________________________ 


// _______________questios quiz #start______________________

.border-question
{
  border: .2rem solid #007bff;
  border-radius: .5rem;
  height: 100%;
  width: 50%; 
  margin: auto;
  .question
  {
    text-align: center;

    .row{
      margin-top: 1rem;
      label{
        text-align: start;
      }

    }

    h5
    {
      margin-top: 1rem;
    }

    #choice{
        display: block;
        justify-content: space-between;
      
    }
    
    // ul
    // {
    //   margin-top: 2.5rem;

    //   li
    //   {
    //     list-style-type: none;
    //     margin-bottom: 1rem;
    //   }
    // }
  }

  #navigation{
    margin-left: 3rem;
  }
}

.alerts-info{
  margin: auto;
  #navigation{
    margin: auto;
  }
}

