// body{
//   overflow: hidden; //remove scroll
// }
body{
  background-color: linen;
}

/*_________________styel a progress bar______________*/
  .progress
  {
    position: relative;
    margin: auto;
    width: 50%; 
    border-radius: 13px;
    .progress-bar
    {
      position: absolute;
      background-color: rgb(126, 217, 87);
      box-shadow: 1px 1px 11px 1px rgb(126, 217, 87);
      height: 100%;
      width: 0;
      border-radius: 13px;
      transition: 1s;
    }
  }

    /* __________Style the stepper ______________*/   
    .stepper {
      list-style: none;
      display: flex;
      margin-top: 4rem;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
  
    /* Style the steps */
    .stepper li {
      flex: 1;
      text-align: center;
      position: relative;
    
      button {
        //display: block;
        padding: 10px;
        background: linen;
        border: none;
        color: #666;
      } 
    }

  
    /* Style the current step */
    .stepper li.current button {
      background: #4caf50;
      color: #fff;
    }
 // ____________stepper styling #end________________

 
// _______________Alert info #START____________________ 
$items: 5;
$i: 1;
$bg-color : rgb(126, 217, 87), rgb(82, 133, 255), rgb(255, 87, 87), rgb(126, 217, 87);
//$size-margin : 45%, 5%, 45%, 5%;

.alerts-info
{
  @while $i < $items
  {
    .alert-info-#{$i}
    {
      background-color: nth($bg-color, $i);
      height: 9.5vh;
      width: 40vw;
      border-radius: .5rem;
      margin:auto; //nth($size-margin, $i);
      margin-top: 2rem;
      h6
      {
        padding: .5rem;
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      padding-top: .8rem;
      color: #fff;
      }
    }
    $i: $i + 1;
  }
}

// _______________Alert info #END__________________________ 


// _______________questios quiz #start______________________

.border-question
{
  border: .2rem solid #007bff;
  border-radius: .5rem;
  height: 100%;
  width: 50%; 
  margin: auto;
  .question
  {
    text-align: center;
    .row{
      margin-top: 1rem;
      label{
        text-align: start;
        float: left;
        align-items: center;
        justify-content: center;
      }
    
      input[type=radio] 
      {
        transform: scale(1.5, 1.5 );
        align-items: center;
        justify-content: center;
      }

    }

    h5
    {
      margin-top: 1rem;
    }

    #choice{
        display: block;
        justify-content: space-between;
      
    }
  }

  #navigation{
    margin-left: 3rem;
    margin-bottom: 1rem;
  }
}

// #queston-container
// {
//   label{
//     float: left;
//     align-items: center;
//     justify-content: center;
//   }

//   input[type=radio] 
//   {
//     transform: scale(1.5, 1.5 );
//     align-items: center;
//     justify-content: center;
//   }
// }



#msgRecheck
{
  h6{
    color: red;
  }
}

.result-div
{
  .border-question{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}